<!DOCTYPE html>
<html lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/students" method="post">
    <label for="name">
        Enter your name
        <input type="text" name="name" id="name">
    </label>
    <label for="email">
        Enter your email
        <input type="email" name="email" id="email">
    </label>
    <label for="dateOfBirth">
        Enter your date of birth
        <input type="date" name="dateOfBirth" id="dateOfBirth">
    </label>
    <input type="submit" value="OK">
</form>

</body>
</html>